body{
    margin: 0px;
}

main{
    margin-left: 20px;
    margin-right: 20px;
}

.navbar{
    background-color: hsl(7, 65%, 62%);
    justify-content: space-between;
}

.navbar ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    color: red;
}
.navbar a.special-word{
    font-size: 30px;
}
