body{
    margin: 0px;
    background-color: black;
}

main{
    margin-left: 20px;
    margin-right: 20px;
}

.navbar{
    background-color: hsl(0, 2%, 18%);
    justify-content: center;
}

.navbar ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 20px;
}

.navbar a:hover{
    color: rgb(160, 157, 157);
}
.navbar a.special-word{
    font-size: 30px;
    font-weight: bold;
}
.footer {
    background-color: hsl(0, 2%, 18%);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
.footer p{
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
}
